sup {
 vertical-align: super;
 font-size: small;
}
#parent {
  border: 2px solid #e5e4e2;
  padding: 5px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 300px;
  width: 1000px;
 }
 .child1 {
  width: 100px;
  height: 24px;
  background-color: #b2b2b2;
  font-size: 20px;
  text-align: center;
  font-family: mononoki;
  margin: 10px;
  position: absolute;
  top: 10%;
  margin-top: -12px;
  }
.child2 {
  width: 100px;
  height: 24px;
  background-color: #b2b2b2;
  font-size: 20px;
  text-align: center;
  font-family: mononoki;
  margin: 10px;
  position: absolute;
  top: 30%;
  margin-top: -12px;
  }
.child3 {
  width: 100px;
  height: 24px;
  background-color: #b2b2b2;
  font-size: 20px;
  text-align: center;
  font-family: mononoki;
  margin: 10px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  }
.child4 {
  width: 100px;
  height: 24px;
  background-color: #b2b2b2;
  font-size: 20px;
  text-align: center;
  font-family: mononoki;
  margin: 10px;
  position: absolute;
  top: 70%;
  margin-top: -12px;
}
  .child5 {
    width: 100px;
    height: 24px;
    background-color: #b2b2b2;
    font-size: 20px;
    text-align: center;
    font-family: mononoki;
    margin: 10px;
    position: absolute;
    top: 90%;
    margin-top: -12px;
    }
body {
 background-image: url("bg1.png");
 background-size: 100% 250%;
 background-repeat: no-repeat;
 margin: 0 auto;
 top: 10%;
 margin-top: 12px;
 overflow: hidden;
 min-height: 100%;
}
h1 {
 color: black;
  text-align: center;
  font-family: mononoki;
}
h2 {
 color: black;
 text-align: center;
 font-family: mononoki;
}
h3 {
 color: black;
 text-align: center;
 font-family: mononoki;
}
p {
 color: black;
 text-align: center;
 font-family: mononoki;
}
